body {
  font-family: Courier New, fantasy;
  background: linear-gradient(135deg, #66cc00, #2575fc);
  color: #C0C0FF;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#quote {
  font-size: 18px;
  margin: 20px 0;
  min-height: 60px;
}




